<h1> Listing Debtors </h1>

<script type="text/javascript">

jQuery(document).ready(function(){

  jQuery("#download").click( function(){
	  //var id = jQuery("#ocmsummaries").jqGrid('getGridParam','selrow'); 
	 
	 
	//var ret = jQuery("#ocmsummaries").jqGrid('getRowData',id);
  //    console.log(id);
		  window.location.href= "debtors/download";
	
  });
  

})


 
</script>
<%= raw jqgrid("", "ocmsummaries", "/ocmsummaries", 
[ 
 { :field => "ref", :label => "Ref" ,},    

 { :field => "property", :label => "Property", },   
{ :field => "owner", :label => "Owner" ,},
{ :field => "balance", :label => "Balance" ,}
],

{:autowidth=>true,:rows_per_page => 100, :height=>520,:rowlist=> '[10,20,60,100]',
:delete=>true,
:edit_url => "/ocmsummaries/post_data",
#:selection_handler => "handleSelection"
#:customButtons=> [{:caption => '', :title => 'Merge', :buttonicon => 'ui-icon-add', :onClickButton => %Q/ function(){ alert("Adding Row");} /, :position => 'last', :separator => 'before'}]
}
) %>

</br>

</br>
<button id="download" class="ui-state-default ui-corner-all" type="submit">Download the OCM Debtor Summaries Listing</button>
</br>

</br>
